/* @media only screen and (max-width:455px) {
 .nav{
    padding: 34px;
    display: inline auto;
 }
    
} */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --color:rgba(62, 39, 232, 0.922);
    --contentcolor:rgba(56, 54, 210, 0.648);
}
body{
    background-color:var(--contentcolor) ;
}
*{
    margin: 0px;
    padding: 0px;
   
}
.nav{
    background-color: var(--color);
    padding: 22px;
}

ul li{
    list-style: none;
    display:  inline;
    padding: 34px;
    color: whitesmoke;
    font-family: ubuntu;
    /* background-color: var(--color); */
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
}